.sidebar {
    width: 220px;
    background-color: #202124;
    color: white;
    padding: 20px;
}


.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaciado entre elementos */ 
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
    box-sizing: border-box;
    white-space: nowrap;
}

.sidebar  li .active {
    color: #292F36; /* Cambia este color al que prefieras */
    padding: 10px;
    background-color: #C4C8BC;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.3s ease-out;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
